<a href="https://colab.research.google.com/github/BARATZL/march-madness-supML/blob/main/NCAAMB_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting the Outcome of March Madness Basketball Games

I love watching college basketball, particularly in March. My alma mater has never been in the "big dance", but the tournament has nevertheless always been very entertaining to me.

However, I do not know much about the sport itself. When it comes time to join in the office bracket pool, my bracket's success largely hinges on my luck, or the rushed google searches made just before filling out my predictions.

The above is the main motivation behind this project. Using Machine Learning concepts I have taken in during the fall semester, can I improve upon my bracket predictions from last year (where I more or less guessed)?

## Defining success

A simple way to define success of my model is to perform better than my predictions last year. I correctly guessed 42 out of 64 of the games, about 65% in total.

That sounds pretty decent for guessing, but my predicitions got worse after round 1 and 2 of the bracket. Equally weighting my predictions by each round, my accuracy looks something like this:



---



$\frac{1}{6}(R1 acc.+ R2 acc.+ R3acc...)$

Or,

$\frac{1}{6} (\frac{24}{32} + \frac{11}{16} + \frac{3}{8} + \frac{2}{4} + \frac{2}{2} + \frac{0}{1})$ = ~.55



---



So the standards I will initially aim for is a total accuracy higher than 65%, with an average accuracy across rounds higher than 55%.

# Data Sourcing and Formatting

There are two methods I have thought of that can be appropriately formatted for a model. The tabular data should be organized as follows:

Game | Team 1 | Team 1 Season Stat 1 | ... | Team 2 | Team 2 Season Stat 1 | ... | Team 1 Score | Team 2 Score | Team 1 Win (0 for no, 1 for yes)
----|----|----|----|----|----|----|----|----|---|
Purdue v. UConn | Purdue | x | ... | UConn | y | ... | 60 | 75 | 0
UConn v. Alabama | UConn | y | ... | Alabama | z | ... | 86 | 72 | 1
...|...|...|...|...|...|...|...|...|...

With this format, our model can either:

**1**. Predict the values that Team 1 and 2 score, with a subsequent function that confirms the outcome prediction the model is making.

**2**. Predict whether or not Team 1 wins.

We can assess both, but first we need to assemble our data. First, we need to create a table of season statistics.

Assembling this data across all years will be difficult, but should be possible through extracting data from [Sports Reference](https://www.sports-reference.com/cbb/). The below code begins this process.

In [176]:
from bs4 import BeautifulSoup, Comment
import numpy as np
import requests
import pandas as pd
url = 'https://www.sports-reference.com/cbb/seasons/men/2024-school-stats.html'
test = requests.get(url)

html_content = test.text
soup = BeautifulSoup(html_content, 'html.parser')
pretty_html = soup.prettify()
tables = soup.find_all('table')  # finding table in webpage
headers = soup.find_all('th')

In [177]:
columnheaders = []
for i in headers:
 columnheaders.append(i.text)
columnheaders = columnheaders[13:50]
ncaa2324 = pd.DataFrame(columns = columnheaders)  # setting table based on webpage table columns
ncaa2324.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   School  0 non-null      object
 1   G       0 non-null      object
 2   W       0 non-null      object
 3   L       0 non-null      object
 4   W-L%    0 non-null      object
 5   SRS     0 non-null      object
 6   SOS     0 non-null      object
 7           0 non-null      object
 8   W       0 non-null      object
 9   L       0 non-null      object
 10          0 non-null      object
 11  W       0 non-null      object
 12  L       0 non-null      object
 13          0 non-null      object
 14  W       0 non-null      object
 15  L       0 non-null      object
 16          0 non-null      object
 17  Tm.     0 non-null      object
 18  Opp.    0 non-null      object
 19          0 non-null      object
 20  MP      0 non-null      object
 21  FG      0 non-null      object
 22  FGA     0 non-null      object
 23  FG%     0 non-null      object
 24  3P      0 non-null      object
 25  3PA     0 non-null      object
 26  3P%     0 non-null      object
 27  FT      0 non-null      object
 28  FTA     0 non-null      object
 29  FT%     0 non-null      object
 30  ORB     0 non-null      object
 31  TRB     0 non-null      object
 32  AST     0 non-null      object
 33  STL     0 non-null      object
 34  BLK     0 non-null      object
 35  TOV     0 non-null      object
 36  PF      0 non-null      object
dtypes: object(37)
memory usage: 124.0+ bytes

In [178]:
rows = soup.find_all('tr')
for row in rows:
  cells = row.find_all('td')
  if cells == []:
    continue
  columndata = [col.text.strip() for col in cells]
  if "NCAA" in columndata[0]:
    ncaa2324.loc[len(ncaa2324)]=columndata  # extracting everyone who made it into the NCAA tournament.

In [179]:
ncaa2324.head(5)  # checking things here

,School,G,W,L,W-L%,SRS,SOS,,W,L,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,Akron NCAA,35,24,11,.686,2.77,-2.08,,13,5,...,467,642,.727,363,1278,455,197,100,394,583
1,Alabama NCAA,37,25,12,.676,20.69,11.80,,13,5,...,650,842,.772,472,1467,587,256,162,438,734
2,Arizona NCAA,36,27,9,.750,24.54,9.45,,15,5,...,605,844,.717,471,1533,665,300,133,430,590
3,Auburn NCAA,35,27,8,.771,22.46,7.66,,13,5,...,609,812,.750,393,1323,622,258,215,374,678
4,Baylor NCAA,35,24,11,.686,19.50,10.71,,11,7,...,579,791,.732,399,1229,514,236,110,421,577

This table contains some of the statistics we would like to see for our team season data when we compile games from March Madness tournaments.

However, there's an issue with this webscraping method: the statistics listed include tournament games. This is problematic because we want the model to be useful prior to the tournament takes place.

If I train a model on data partially from tournaments, there's a chance that it will negatively affect the model when it is needed before teams even have a chance to compile tournament statistics.

One way to avoid this is to make sure that I only include rate/percentage statistics.

In [180]:
ncaa2324.drop(columns=['W','L'], inplace=True)

In [181]:
columns_to_drop = ncaa2324.columns[5:9]
columns_to_drop
ncaa2324.drop(columns=columns_to_drop,inplace=True)

In [182]:
ncaa2324.drop(columns=['MP','FG','FGA','FT','FTA','3P','3PA'],inplace=True)

In [183]:
ncaa2324.iloc[:,1:] = ncaa2324.iloc[:,1:].astype(float)
column_ops = ['Tm.','Opp.','ORB','TRB','AST','STL','BLK','TOV','PF']
for col in column_ops:
  ncaa2324[col] = ncaa2324[col].astype(float)
  ncaa2324[col] = ncaa2324[col]/(ncaa2324['G'].astype(float))  # setting up per game ratios

ncaa2324.rename(columns={'Tm.':'PPG',
                         'Opp.':'PAPG',
                         'ORB':'ORBPG',
                         'TRB':'TRBPG',
                         'AST':'ASTPG',
                         'STL':'STLPG',
                         'BLK':'BLKPG',
                         'TOV':'TOVPG',
                         'PF':'PFPG'},inplace=True)

In [184]:
ncaa2324.drop(columns=['G','W-L%'],inplace=True)

Now I've eliminated most of the obvious indicators of postseason success that would not be available if we try to practically apply a model next year. Next, to create game data, and stitch these seasonal statistics onto the table with game data. I plan to pull game data again from Sports Reference.

In [185]:
# first, making sure school names are uniform with the second table. This way, there's a seamless merge.
ncaa2324['School'] = ncaa2324['School'].str.strip().str.replace('NCAA$', '', regex=True)
ncaa2324['School'] = ncaa2324['School'].str.strip().str.replace('Brigham Young$', 'BYU', regex=True)
ncaa2324['School'] = ncaa2324['School'].str.strip().str.replace('Connecticut$', 'UConn', regex=True)
ncaa2324['School'] = ncaa2324['School'].str.strip().str.replace('North Carolina$', 'UNC', regex=True)
ncaa2324['School'] = ncaa2324['School'].str.strip().str.replace("Saint Mary's (CA)", "Saint Mary's", regex=False)
ncaa2324['School'] = ncaa2324['School'].str.strip().str.replace("Saint Peter's", "St. Peter's", regex=False)
print(ncaa2324['School'].unique())

['Akron' 'Alabama' 'Arizona' 'Auburn' 'Baylor' 'Boise State' 'BYU'
 'Clemson' 'Colgate' 'College of Charleston' 'Colorado' 'Colorado State'
 'UConn' 'Creighton' 'Dayton' 'Drake' 'Duke' 'Duquesne' 'Florida'
 'Florida Atlantic' 'Gonzaga' 'Grambling' 'Grand Canyon' 'Houston'
 'Howard' 'Illinois' 'Iowa State' 'James Madison' 'Kansas' 'Kentucky'
 'Long Beach State' 'Longwood' 'Marquette' 'McNeese State'
 'Michigan State' 'Mississippi State' 'Montana State' 'Morehead State'
 'NC State' 'Nebraska' 'Nevada' 'New Mexico' 'UNC' 'Northwestern'
 'Oakland' 'Oregon' 'Purdue' "Saint Mary's" "St. Peter's" 'Samford'
 'San Diego State' 'South Carolina' 'South Dakota State' 'Stetson' 'TCU'
 'Tennessee' 'Texas' 'Texas A&M' 'Texas Tech' 'UAB' 'Utah State' 'Vermont'
 'Virginia' 'Wagner' 'Washington State' 'Western Kentucky' 'Wisconsin'
 'Yale']

In [186]:
mm2324 = pd.DataFrame(columns=['T1 Seed','T1 Name','T1 Score','T2 Seed','T2 Name','T2 Score'])  # making combined table template

In [187]:
mm2324

Empty DataFrame
Columns: [T1 Seed, T1 Name, T1 Score, T2 Seed, T2 Name, T2 Score]
Index: []

In [188]:
url2 = 'https://www.sports-reference.com/cbb/postseason/men/2024-ncaa.html'
test = requests.get(url2)

html_content = test.text
soup = BeautifulSoup(html_content, 'html.parser')
comments = soup.find_all(string=lambda text: isinstance(text, Comment))
for comment in comments:
    if "game" in comment:  # the html had <--game--> comments wherever they placed bracket games.
        next_element = comment.find_next_sibling()
        try:
          seed1 = next_element.find('span').text.strip()
        except:
          break
        name1 = next_element.find('a', href=True).text.strip()
        try:
          score1 = next_element.find_all('a',href=True)[1].text.strip()
        except:
          continue
        third_element = next_element.find_next_sibling()
        seed2 = third_element.find('span').text.strip()
        name2 = third_element.find('a', href=True).text.strip()
        score2 = third_element.find_all('a',href=True)[1].text.strip()
        mm2324.loc[len(mm2324)] = [seed1,name1,score1,seed2,name2,score2]
mm2324.loc[len(mm2324)] = [1,'UConn',75,1,'Purdue',60]  # for some reason the championship game still didn't have the score. manually inputting.

In [189]:
mm2324['Game'] = mm2324['T1 Name'] + f' ('+mm2324['T1 Seed'].astype(str)+')' ' v. ' + mm2324['T2 Name'] + ' ('+mm2324['T2 Seed'].astype(str)+')'
mm2324  # the above will be the index. Important for future so we can still determine which game the model is predicting on

,T1 Seed,T1 Name,T1 Score,T2 Seed,T2 Name,T2 Score,Game
0,1,UConn,91,16,Stetson,52,UConn (1) v. Stetson (16)
1,8,Florida Atlantic,65,9,Northwestern,77,Florida Atlantic (8) v. Northwestern (9)
2,5,San Diego State,69,12,UAB,65,San Diego State (5) v. UAB (12)
3,4,Auburn,76,13,Yale,78,Auburn (4) v. Yale (13)
4,6,BYU,67,11,Duquesne,71,BYU (6) v. Duquesne (11)
...,...,...,...,...,...,...,...
58,6,Clemson,77,2,Arizona,72,Clemson (6) v. Arizona (2)
59,4,Alabama,89,6,Clemson,82,Alabama (4) v. Clemson (6)
60,1,UConn,86,4,Alabama,72,UConn (1) v. Alabama (4)
61,1,Purdue,63,11,NC State,50,Purdue (1) v. NC State (11)
62,1,UConn,75,1,Purdue,60,UConn (1) v. Purdue (1)

Now that the game table has been created, the seasonal stats for the teams can be inserted into the table.

In [190]:
ncaa2324['School'] = ncaa2324['School'].str.strip()
mm2324['T1 Name'] = mm2324['T1 Name'].str.strip()
mm2324['T2 Name'] = mm2324['T2 Name'].str.strip()
comb2324 = pd.merge(mm2324, ncaa2324,left_on='T1 Name',right_on='School',how='left')
comb2324.rename(columns={'SRS':'T1 SRS',
                         'SOS':'T1 SOS',
                         'PPG':'T1 PPG',
                         'PAPG':'T1 PAPG',
                         'ORBPG':'T1 ORBPG',
                         'TRBPG':'T1 TRBPG',
                         'ASTPG':'T1 ASTPG',
                         'FG%':'T1 FG%',
                         '3P%':'T1 3P%',
                         'FT%':'T1 FT%',
                         'STLPG':'T1 STLPG',
                         'BLKPG':'T1 BLKPG',
                         'TOVPG':'T1 TOVPG',
                         'PFPG':'T1 PFPG'},inplace=True)
comb2324 = pd.merge(comb2324, ncaa2324, left_on='T2 Name',right_on='School',how='left')
comb2324.rename(columns={'SRS':'T2 SRS',
                         'SOS':'T2 SOS',
                         'PPG':'T2 PPG',
                         'PAPG':'T2 PAPG',
                         'ORBPG':'T2 ORBPG',
                         'TRBPG':'T2 TRBPG',
                         'ASTPG':'T2 ASTPG',
                         'FG%':'T2 FG%',
                         '3P%':'T2 3P%',
                         'FT%':'T2 FT%',
                         'STLPG':'T2 STLPG',
                         'BLKPG':'T2 BLKPG',
                         'TOVPG':'T2 TOVPG',
                         'PFPG':'T2 PFPG'}, inplace=True)
comb2324 = comb2324.drop(columns=['School_x','School_y'])
comb2324.head(5)

,T1 Seed,T1 Name,T1 Score,T2 Seed,T2 Name,T2 Score,Game,T1 SRS,T1 SOS,T1 PPG,...,T2 FG%,T2 3P%,T2 FT%,T2 ORBPG,T2 TRBPG,T2 ASTPG,T2 STLPG,T2 BLKPG,T2 TOVPG,T2 PFPG
0,1,UConn,91,16,Stetson,52,UConn (1) v. Stetson (16),26.7,8.7,81.400000,...,0.463,0.365,0.766,9.685714,34.742857,13.285714,5.342857,3.085714,10.542857,14.742857
1,8,Florida Atlantic,65,9,Northwestern,77,Florida Atlantic (8) v. Northwestern (9),13.26,4.61,82.029412,...,0.455,0.39,0.752,8.529412,31.411765,15.588235,7.029412,3.117647,8.823529,17.588235
2,5,San Diego State,69,12,UAB,65,San Diego State (5) v. UAB (12),14.68,8.37,74.108108,...,0.449,0.327,0.746,12.885714,37.971429,13.514286,6.742857,4.542857,11.600000,15.857143
3,4,Auburn,76,13,Yale,78,Auburn (4) v. Yale (13),22.46,7.66,83.114286,...,0.467,0.351,0.707,9.878788,36.515152,15.000000,6.181818,3.181818,9.575758,15.121212
4,6,BYU,67,11,Duquesne,71,BYU (6) v. Duquesne (11),19.33,7.86,81.411765,...,0.436,0.34,0.72,10.513514,34.810811,13.432432,7.486486,4.324324,11.702703,17.135135

In [191]:
comb2324.set_index('Game',inplace=True)

In [196]:
combi2324 = comb2324.iloc[:,[0,1,6,7,8,9,10,11,12,13,14,15,16,17,18,19,3,4,20,21,22,23,24,25,26,27,28,29,30,31,32,33,2,5]]  # rearranging.
combi2324.info()  # null check

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, UConn (1) v. Stetson (16) to UConn (1) v. Purdue (1)
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   T1 Seed   63 non-null     object
 1   T1 Name   63 non-null     object
 2   T1 SRS    63 non-null     object
 3   T1 SOS    63 non-null     object
 4   T1 PPG    63 non-null     float64
 5   T1 PAPG   63 non-null     float64
 6   T1 FG%    63 non-null     object
 7   T1 3P%    63 non-null     object
 8   T1 FT%    63 non-null     object
 9   T1 ORBPG  63 non-null     float64
 10  T1 TRBPG  63 non-null     float64
 11  T1 ASTPG  63 non-null     float64
 12  T1 STLPG  63 non-null     float64
 13  T1 BLKPG  63 non-null     float64
 14  T1 TOVPG  63 non-null     float64
 15  T1 PFPG   63 non-null     float64
 16  T2 Seed   63 non-null     object
 17  T2 Name   63 non-null     object
 18  T2 SRS    63 non-null     object
 19  T2 SOS    63 non-null     object
 20  T2 PPG    63 non-null     float64
 21  T2 PAPG   63 non-null     float64
 22  T2 FG%    63 non-null     object
 23  T2 3P%    63 non-null     object
 24  T2 FT%    63 non-null     object
 25  T2 ORBPG  63 non-null     float64
 26  T2 TRBPG  63 non-null     float64
 27  T2 ASTPG  63 non-null     float64
 28  T2 STLPG  63 non-null     float64
 29  T2 BLKPG  63 non-null     float64
 30  T2 TOVPG  63 non-null     float64
 31  T2 PFPG   63 non-null     float64
 32  T1 Score  63 non-null     object
 33  T2 Score  63 non-null     object
dtypes: float64(18), object(16)
memory usage: 17.2+ KB

In [195]:
combi2324.head(1)

,T1 Seed,T1 Name,T1 SRS,T1 SOS,T1 PPG,T1 PAPG,T1 FG%,T1 3P%,T1 FT%,T1 ORBPG,...,T2 FT%,T2 ORBPG,T2 TRBPG,T2 ASTPG,T2 STLPG,T2 BLKPG,T2 TOVPG,T2 PFPG,T1 Score,T2 Score
Game,,,,,,,,,,,,,,,,,,,,,
UConn (1) v. Stetson (16),1,UConn,26.7,8.7,81.4,63.4,0.497,0.358,0.743,11.725,...,0.766,9.685714,34.742857,13.285714,5.342857,3.085714,10.542857,14.742857,91,52

In [197]:
col_list = combi2324.columns
for col in col_list:
  try:
    combi2324[col] = combi2324[col].astype(float)
  except:
    continue
combi2324.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, UConn (1) v. Stetson (16) to UConn (1) v. Purdue (1)
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   T1 Seed   63 non-null     float64
 1   T1 Name   63 non-null     object
 2   T1 SRS    63 non-null     float64
 3   T1 SOS    63 non-null     float64
 4   T1 PPG    63 non-null     float64
 5   T1 PAPG   63 non-null     float64
 6   T1 FG%    63 non-null     float64
 7   T1 3P%    63 non-null     float64
 8   T1 FT%    63 non-null     float64
 9   T1 ORBPG  63 non-null     float64
 10  T1 TRBPG  63 non-null     float64
 11  T1 ASTPG  63 non-null     float64
 12  T1 STLPG  63 non-null     float64
 13  T1 BLKPG  63 non-null     float64
 14  T1 TOVPG  63 non-null     float64
 15  T1 PFPG   63 non-null     float64
 16  T2 Seed   63 non-null     float64
 17  T2 Name   63 non-null     object
 18  T2 SRS    63 non-null     float64
 19  T2 SOS    63 non-null     float64
 20  T2 PPG    63 non-null     float64
 21  T2 PAPG   63 non-null     float64
 22  T2 FG%    63 non-null     float64
 23  T2 3P%    63 non-null     float64
 24  T2 FT%    63 non-null     float64
 25  T2 ORBPG  63 non-null     float64
 26  T2 TRBPG  63 non-null     float64
 27  T2 ASTPG  63 non-null     float64
 28  T2 STLPG  63 non-null     float64
 29  T2 BLKPG  63 non-null     float64
 30  T2 TOVPG  63 non-null     float64
 31  T2 PFPG   63 non-null     float64
 32  T1 Score  63 non-null     float64
 33  T2 Score  63 non-null     float64
dtypes: float64(32), object(2)
memory usage: 17.2+ KB

This is the ideal table setup we're looking for. Before iterating on the past two-ish decades of March Madness basketball, I'd like to see how the model does with a train-test set of 2024.

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import MultiTaskLasso